.features{
  padding: 0 100px 0 100px;
}
.features .box {
    padding: 20px;
  }
  .features .box h2 {
    margin: 10px 0 10px 0;
  
  }
  .features .box p {
    word-spacing: 2px;
    transition: 0.5s;
  }
  .features .box i {
    font-size: 10px;
    margin-top: 10px;
    transition: 0.5s;
    opacity: 0;
  }
  .features .box:hover p {
    color: white;
  }
  .features .box:hover i {
    color: white;
    opacity: 1;
  }